@import 'styles/colors.style.scss';

.enviroment_table {
    width: 100%;
    height: 100%;
    padding: 1rem;
    &__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 2rem;
        padding-right: 4rem;
        height: 2rem;
        border-bottom: 1px solid $dark-border;
        color: $light-gray;
        font-size: calc(6px + 6 * (100vw / 1440));

        &-titles {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        &-attributes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}